body {
  margin: 0;
  font-family: 'Readex Pro', sans-serif; /* ✅ الخط الجديد */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
